NET "clk100"   LOC = "E3"	| IOSTANDARD = LVCMOS33;
NET "Columna<3>"          LOC=H2 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_35 # ABAJO PIN/señal 7
NET "Columna<2>"          LOC=G4 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_35
NET "Columna<1>"          LOC=G2 | IOSTANDARD=LVCMOS33; #IO_L15N_T2_DQS_35
NET "Columna<0>"         LOC=F3 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_35
NET "Fila<3>"          LOC=H4 | IOSTANDARD=LVCMOS33; #IO_L21N_T3_DQS_35 # arriba pin/SEÑAL  1
NET "Fila<2>"          LOC=H1 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_35
NET "Fila<1>"          LOC=G1 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_35
NET "Fila<0>"          LOC=G3 | IOSTANDARD=LVCMOS33; #IO_L20N_T3_35 #JD

NET "speed<0>"         LOC=H17 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A24_15 #primeros cuatro leds (izq - der)
NET "speed<1>"         LOC=K15 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_RS1_15
NET "speed<2>"         LOC=J13 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A25_15
NET "speed<3>"         LOC=N14 | IOSTANDARD=LVCMOS33; #IO_L8P_T1_D11_14
NET "turn"        LOC=V11 | IOSTANDARD=LVCMOS33; #IO_L21N_T3_DQS_A06_D22_14 #ultimos dos
NET "isDone"         LOC=V12 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A12_D28_14 ##último <-

NET "leds<0>"         LOC=V17 | IOSTANDARD=LVCMOS33; #IO_L18N_T2_A11_D27_14
NET "leds<1>"         LOC=U17 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_A14_D30_14
NET "leds<2>"         LOC=U16 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A12_D28_14
NET "leds<3>"         LOC=V16 | IOSTANDARD=LVCMOS33; #IO_L16N_T2_A15_D31_14
NET "leds<4>"         LOC=T15 | IOSTANDARD=LVCMOS33; #IO_L14N_T2_SRCC_14
NET "leds<5>"        LOC=U14 | IOSTANDARD=LVCMOS33; #IO_L22P_T3_A05_D21_14
NET "leds<6>"        LOC=T16 | IOSTANDARD=LVCMOS33; #IO_L15N_T2_DQS_DOUT_CSO_B_14
NET "leds<7>"        LOC=V15 | IOSTANDARD=LVCMOS33; #IO_L16P_T2_CSI_B_14

NET "rx"          LOC=G6 | IOSTANDARD=LVCMOS33; #IO_L22N_T3_35 #JC signal 3
NET "reset"           LOC=P17 | IOSTANDARD=LVCMOS33; #IO_L12P_T1_MRCC_14 BUTTON LEFT



	
NET "lcd_7"         LOC=C17 | IOSTANDARD=LVCMOS33;#IO_L20N_T3_A19_15 #1 JA ---|
NET "lcd_6"         LOC=D18 | IOSTANDARD=LVCMOS33;#IO_L21N_T3_DQS_A18_15 #2	|
NET "lcd_5"         LOC=E18 | IOSTANDARD=LVCMOS33;#IO_L21P_T3_DQS_15 #3 		|
NET "lcd_4"         LOC=G17 | IOSTANDARD=LVCMOS33;#IO_L18N_T2_A23_15 #4			|
#																									   |
NET "lcd_e"         LOC=D17 | IOSTANDARD=LVCMOS33;#IO_L16N_T2_A27_15 #7			|
NET "lcd_rw"        LOC=E17 | IOSTANDARD=LVCMOS33;#IO_L16P_T2_A28_15 #8			|
NET "lcd_rs"         LOC=F18 | IOSTANDARD=LVCMOS33;#IO_L22N_T3_A16_15 #9 -----|

#NET "speed<0>"          LOC=J15 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_RS0_15  # ----|
#NET "speed<1>"          LOC=L16 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_EMCCLK_14  |
#NET "speed<2>"          LOC=M13 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_D08_VREF_14    | Entradas a la LCD
#NET "speed<3>"          LOC=R15 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_14  		|
#NET "turn"         LOC=U11 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_A09_D25_VREF_14 ---|

NET "SwitchManager"         LOC=U11 | IOSTANDARD=LVCMOS33; #Switch <14>

NET "speaker"         LOC=H16 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_35 #10 pin1 10 (último) #JD
#NET "sound_flag"          LOC=J15 | IOSTANDARD=LVCMOS33; #IO_L15N_T2_DQS_35 switch 0

#MOTOR PWM
#NET "clk"   		   	LOC="E3" | IOSTANDARD = "LVCMOS33";
// ENTRADA 0-9 PARA % CICLO DE TRABAJO - Switch 0 al 4
#NET "speed<0>"          LOC=J15 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_RS0_15
#NET "speed<1>"          LOC=L16 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_EMCCLK_14
#NET "speed<2>"          LOC=M13 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_D08_VREF_14
#NET "speed<3>"          LOC=R15 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_14
// ENTRADA PARA INDICAR GIRO - Switch 15
#NET "turn"		         LOC=V10 | IOSTANDARD=LVCMOS33; #IO_L21P_T3_DQS_14 // SWITCH 15
//LEDS INDICATIVOS DEL CICLO DE TRABAJO DEL PWM - LEDs 0 al 6
#NET "porcentaje<0>"         LOC=H17 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A24_15
#NET "porcentaje<1>"         LOC=K15 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_RS1_15
#NET "porcentaje<2>"         LOC=J13 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A25_15
#NET "porcentaje<3>"         LOC=N14 | IOSTANDARD=LVCMOS33; #IO_L8P_T1_D11_14
#NET "porcentaje<4>"         LOC=R18 | IOSTANDARD=LVCMOS33; #IO_L7P_T1_D09_14
#NET "porcentaje<5>"         LOC=V17 | IOSTANDARD=LVCMOS33; #IO_L18N_T2_A11_D27_14
#NET "porcentaje<6>"         LOC=U17 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_A14_D30_14
//LEDS INDICATIVOS DEL CONTROL DE GIRO - LEDS azul y rojo
NET "in1"        LOC=G14 | IOSTANDARD=LVCMOS33; #IO_L15N_T2_DQS_ADV_B_15 LED AZUL
NET "in1"          LOC=F16 | IOSTANDARD=LVCMOS33; #IO_L14N_T2_SRCC_15 Enable RIGHT ## la segunda del JB -----------------
NET "in2"        LOC=N16 | IOSTANDARD=LVCMOS33; #IO_L11N_T1_SRCC_14 LED ROJO
NET "in2"          LOC=G16 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_15 Enable LEFT ## la tecera del JB -------------------
//LED DEL PWM - LED azul
NET "signal"        LOC=V14 | IOSTANDARD=LVCMOS33; #IO_L5P_T0_D06_14 LED 15
NET "signal"          LOC=D14 | IOSTANDARD=LVCMOS33; #IO_L1P_T0_AD0P_15 JACK 2 ENTRADA 1 ## el primero del JB -----------



