#NET clk LOC = "E3" | IOSTANDARD="LVCMOS33";
#NET rst LOC = "C12" | IOSTANDARD="LVCMOS33";
#
#NET lcd_db<7> LOC = "H4" | IOSTANDARD="LVCMOS33";
#NET lcd_db<6> LOC = "H1" | IOSTANDARD="LVCMOS33";
#NET lcd_db<5> LOC = "G1" | IOSTANDARD="LVCMOS33";
#NET lcd_db<4> LOC = "G3" | IOSTANDARD="LVCMOS33";
#NET lcd_db<3> LOC = "H2" | IOSTANDARD="LVCMOS33";
#NET lcd_db<2> LOC = "G4" | IOSTANDARD="LVCMOS33";
#NET lcd_db<1> LOC = "G2" | IOSTANDARD="LVCMOS33";
#NET lcd_db<0> LOC = "F3" | IOSTANDARD="LVCMOS33";
#
#
#NET buzz LOC = "J4" | IOSTANDARD="LVCMOS33";##ESTA EN EL JB4
#
#
#NET lcd_e LOC = "K2" | IOSTANDARD="LVCMOS33";
#NET lcd_rw LOC = "E7" | IOSTANDARD="LVCMOS33";
#NET lcd_rs LOC = "J3" | IOSTANDARD="LVCMOS33";
#
#
#NET pwm_out LOC = "V12" | IOSTANDARD="LVCMOS33"; ##nos muestra si pwm funciona. es un led
#NET paleta LOC = "U11" | IOSTANDARD="LVCMOS33";
#NET yellow LOC = "T9" | IOSTANDARD="LVCMOS33";
#NET blue LOC = "R16" | IOSTANDARD="LVCMOS33";
#NET red LOC = "K16" | IOSTANDARD="LVCMOS33"; ## para el primer motor jb7
#NET ledsito LOC = "V11" | IOSTANDARD="LVCMOS33";
#
##BOTONES............
#NET rows<0> LOC = "J15"| IOSTANDARD="LVCMOS33";
#NET rows<1> LOC = "L16"| IOSTANDARD="LVCMOS33";
#NET rows<2> LOC = "M13"| IOSTANDARD="LVCMOS33";
#NET rows<3> LOC = "R15"| IOSTANDARD="LVCMOS33";
#
#NET cols<0> LOC = "R17"| IOSTANDARD="LVCMOS33";
#NET cols<1> LOC = "T18"| IOSTANDARD="LVCMOS33";
#NET cols<2> LOC = "U18"| IOSTANDARD="LVCMOS33";
#
#
#NET num<0> LOC = "U14"| IOSTANDARD="LVCMOS33";
#NET num<1> LOC = "T16"| IOSTANDARD="LVCMOS33";
#NET num<2> LOC = "V15"| IOSTANDARD="LVCMOS33";
#NET num<3> LOC = "V14"| IOSTANDARD="LVCMOS33";
#
#NET rg<0> LOC= "H17"| IOSTANDARD="LVCMOS33";
#NET rg<1> LOC= "K15"| IOSTANDARD="LVCMOS33";
#NET rg<2> LOC= "J13"| IOSTANDARD="LVCMOS33";
#NET rg<3> LOC= "N14"| IOSTANDARD="LVCMOS33";
#
###led
#NET isDone LOC = "R18" | IOSTANDARD="LVCMOS33";
#
#NET fila<0> LOC= "B13"| IOSTANDARD="LVCMOS33";
#NET fila<1> LOC= "F14"| IOSTANDARD="LVCMOS33";
#NET fila<2> LOC= "D17"| IOSTANDARD="LVCMOS33";
#NET fila<3> LOC= "E17"| IOSTANDARD="LVCMOS33";
#
#NET columna<0> LOC= "G13"| IOSTANDARD="LVCMOS33";
#NET columna<1> LOC= "C17"| IOSTANDARD="LVCMOS33";
#NET columna<2> LOC= "D18"| IOSTANDARD="LVCMOS33";
#NET columna<3> LOC= "E18"| IOSTANDARD="LVCMOS33";

#para nexys 3

NET clk LOC = "V10" | IOSTANDARD="LVCMOS33";
NET rst LOC = "B8" | IOSTANDARD="LVCMOS33";

#NET bot<0> LOC = "T10" | IOSTANDARD="LVCMOS33";##deben estar sin comentar
#NET bot<1> LOC = "T9" | IOSTANDARD="LVCMOS33";	

NET lcd_db<0> LOC = "F2" | IOSTANDARD="LVCMOS33";
NET lcd_db<1> LOC = "J6" | IOSTANDARD="LVCMOS33";
NET lcd_db<2> LOC = "J7" | IOSTANDARD="LVCMOS33";
NET lcd_db<3> LOC = "G1" | IOSTANDARD="LVCMOS33";
NET lcd_db<4> LOC = "G3" | IOSTANDARD="LVCMOS33";
NET lcd_db<5> LOC = "K6" | IOSTANDARD="LVCMOS33";
NET lcd_db<6> LOC = "L7" | IOSTANDARD="LVCMOS33";
NET lcd_db<7> LOC = "H3" | IOSTANDARD="LVCMOS33";

NET buzz LOC = "K2" | IOSTANDARD="LVCMOS33";

NET pwm_out LOC = "T11" | IOSTANDARD="LVCMOS33"; ##nos muestra si pwm funciona. es un led
NET paleta LOC = "K5" | IOSTANDARD="LVCMOS33";
NET yellow LOC = "K3" | IOSTANDARD="LVCMOS33";
NET blue LOC = "J1" | IOSTANDARD="LVCMOS33";
NET red LOC = "J3" | IOSTANDARD="LVCMOS33"; ## para el primer motor jb7
NET ledsito LOC = "R11" | IOSTANDARD="LVCMOS33";
##NET sensor LOC = "T10" | IOSTANDARD="LVCMOS33";
##NET check LOC = "T12" | IOSTANDARD="LVCMOS33";



NET lcd_e LOC = "G11" | IOSTANDARD="LVCMOS33";
NET lcd_rw LOC = "F10" | IOSTANDARD="LVCMOS33";
NET lcd_rs LOC = "F11" | IOSTANDARD="LVCMOS33";
#leds los quitamos y lo reemplazamos con un signal
#NET mot<0> LOC = "V15"| IOSTANDARD="LVCMOS33";
#NET mot<1> LOC = "U15"| IOSTANDARD="LVCMOS33";
#NET mot<2> LOC = "V16"| IOSTANDARD="LVCMOS33";#amarillo
#NET mot<3> LOC = "U16"| IOSTANDARD="LVCMOS33";##paleta

##salidas de motor
#NET engine<0> LOC = "U16"| IOSTANDARD="LVCMOS33";
#NET engine<1> LOC = "V16"| IOSTANDARD="LVCMOS33";
#NET engine<2> LOC = "U15"| IOSTANDARD="LVCMOS33";#amarillo
#NET engine<3> LOC = "V15"| IOSTANDARD="LVCMOS33";##paleta


#BOTONES............
NET rows<0> LOC = "T5"| IOSTANDARD="LVCMOS33";
NET rows<1> LOC = "V8"| IOSTANDARD="LVCMOS33";
NET rows<2> LOC = "U8"| IOSTANDARD="LVCMOS33";
NET rows<3> LOC = "N8"| IOSTANDARD="LVCMOS33";

NET cols<0> LOC = "M8"| IOSTANDARD="LVCMOS33";
NET cols<1> LOC = "V9"| IOSTANDARD="LVCMOS33";
NET cols<2> LOC = "T10"| IOSTANDARD="LVCMOS33";


NET num<0> LOC = "D12"| IOSTANDARD="LVCMOS33";
NET num<1> LOC = "C12"| IOSTANDARD="LVCMOS33";
NET num<2> LOC = "F12"| IOSTANDARD="LVCMOS33";
NET num<3> LOC = "E12"| IOSTANDARD="LVCMOS33"; ###QUEDARON EN LA PARTE DE ABAJO DE JD!

############################################################### pines del teclado
#
#NET clk50 LOC = "V10" | IOSTANDARD="LVCMOS33";
##NET rst LOC = "B8" | IOSTANDARD="LVCMOS33";
#
##Anodo a 3.3
##NET anodo<0> LOC= "N6"| IOSTANDARD="LVCMOS33";
##NET anodo<1> LOC= "M6"| IOSTANDARD="LVCMOS33";
##NET anodo<2> LOC= "M3"| IOSTANDARD="LVCMOS33";
##NET anodo<3> LOC= "N5"| IOSTANDARD="LVCMOS33";
##NET anodo<4> LOC= "N2"| IOSTANDARD="LVCMOS33";
##NET anodo<5> LOC= "N4"| IOSTANDARD="LVCMOS33";
##NET anodo<6> LOC= "L1"| IOSTANDARD="LVCMOS33";
##NET anodo<7> LOC= "M1"| IOSTANDARD="LVCMOS33";
#
#
NET rg<0> LOC= "V15"| IOSTANDARD="LVCMOS33";
NET rg<1> LOC= "U15"| IOSTANDARD="LVCMOS33";
NET rg<2> LOC= "V16"| IOSTANDARD="LVCMOS33";
NET rg<3> LOC= "U16"| IOSTANDARD="LVCMOS33";
#
##display unidades
##NET rg<0> LOC= "L3" | IOSTANDARD="LVCMOS33";
##NET rg<1> LOC= "N1"| IOSTANDARD="LVCMOS33";
##NET rg<2> LOC= "L5"| IOSTANDARD="LVCMOS33";
##NET rg<3> LOC= "L4"| IOSTANDARD="LVCMOS33";
##NET rg<4> LOC= "K3"| IOSTANDARD="LVCMOS33";
##NET rg<5> LOC= "M2"| IOSTANDARD="LVCMOS33";
##NET rg<6> LOC= "L6"| IOSTANDARD="LVCMOS33";
#
##led
NET isDone LOC = "N11" | IOSTANDARD="LVCMOS33";

NET fila<0> LOC= "T12"| IOSTANDARD="LVCMOS33";
NET fila<1> LOC= "V12"| IOSTANDARD="LVCMOS33";
NET fila<2> LOC= "N10"| IOSTANDARD="LVCMOS33";
NET fila<3> LOC= "P11"| IOSTANDARD="LVCMOS33";

NET columna<0> LOC= "M10"| IOSTANDARD="LVCMOS33";
NET columna<1> LOC= "N9"| IOSTANDARD="LVCMOS33";
NET columna<2> LOC= "U11"| IOSTANDARD="LVCMOS33";
NET columna<3> LOC= "V11"| IOSTANDARD="LVCMOS33";

#NET fila<0> LOC= "T12"| IOSTANDARD="LVCMOS33";
#NET fila<1> LOC= "U11"| IOSTANDARD="LVCMOS33";
#NET fila<2> LOC= "N9"| IOSTANDARD="LVCMOS33";
#NET fila<3> LOC= "P11"| IOSTANDARD="LVCMOS33";
#
#NET columna<0> LOC= "N10"| IOSTANDARD="LVCMOS33";
#NET columna<1> LOC= "V12"| IOSTANDARD="LVCMOS33";
#NET columna<2> LOC= "M10"| IOSTANDARD="LVCMOS33";
#NET columna<3> LOC= "V11"| IOSTANDARD="LVCMOS33";