
//NET clk LOC = "V10" | IOSTANDARD="LVCMOS33";
//NET rst LOC = "B8" | IOSTANDARD="LVCMOS33";

		
NET lcd_db<0> LOC = "H3" | IOSTANDARD="LVCMOS33";
NET lcd_db<1> LOC = "L7" | IOSTANDARD="LVCMOS33";
NET lcd_db<2> LOC = "K6" | IOSTANDARD="LVCMOS33";
NET lcd_db<3> LOC = "G3" | IOSTANDARD="LVCMOS33";
NET lcd_db<4> LOC = "G1" | IOSTANDARD="LVCMOS33";
NET lcd_db<5> LOC = "J7" | IOSTANDARD="LVCMOS33";
NET lcd_db<6> LOC = "J6" | IOSTANDARD="LVCMOS33";
NET lcd_db<7> LOC = "F2" | IOSTANDARD="LVCMOS33";


NET lcd_e LOC = "K2" | IOSTANDARD="LVCMOS33";
NET lcd_rw LOC = "K1" | IOSTANDARD="LVCMOS33";
NET lcd_rs LOC = "L4" | IOSTANDARD="LVCMOS33";


NET clk LOC = "V10" | IOSTANDARD="LVCMOS33";
NET led LOC = "T11" | IOSTANDARD="LVCMOS33";
NET servo LOC = "F10" | IOSTANDARD="LVCMOS33";
NET sound LOC = "G11" | IOSTANDARD="LVCMOS33";
NET reset LOC = "B8" | IOSTANDARD="LVCMOS33";

NET bot1 LOC = "C4" | IOSTANDARD="LVCMOS33";
NET bot2 LOC = "D9" | IOSTANDARD="LVCMOS33";
NET bot3 LOC = "C9" | IOSTANDARD="LVCMOS33";
NET bot4 LOC = "A8" | IOSTANDARD="LVCMOS33";



## Led
##Columnas
Net col<0> LOC = T12 | IOSTANDARD = LVCMOS33; 
Net col<1> LOC = V12 | IOSTANDARD = LVCMOS33; 
Net col<2> LOC = N10 | IOSTANDARD = LVCMOS33;
Net col<3> LOC = P11 | IOSTANDARD = LVCMOS33;
##Filas
Net fila<0> LOC = M10 | IOSTANDARD = LVCMOS33; 
Net fila<1> LOC = N9 | IOSTANDARD = LVCMOS33; 
Net fila<2> LOC = U11 | IOSTANDARD = LVCMOS33; 
Net fila<3> LOC = V11 | IOSTANDARD = LVCMOS33;